body {
	height: 100%;
	margin: 0;
}

.wrapper {
	width: 80%;
	height: 100%;
}


header {
	margin: 3% 3%;
	margin-left: 20%;
	padding-bottom: 1%;
	border-bottom: solid black 5px;
}

header button {
	float: right;
	margin-left: 1%;

}

input[type="submit"] {
	float: right;
}

content {
	display: flex;
	flex-direction: row;
	margin: 0 5%;
	margin-left: 10%;
	max-width: 100%;
	width: 90%;
	height: auto;
}

content #form1 {
	margin: 0 12%;
	margin-bottom: 5%;
	max-height: 100%;
}

b {
	color: red;
}




 .product {
 	display: block;
	max-width: 300%;
	width: 150px;
	height: 160px;
	border: 3px solid black;
	text-align: center;
	overflow: hidden;


}


.product input[type="checkbox"]{
	margin-top: 10px;
	margin-right: 100px;
}

.product .box {
	margin-top: 10px;
	margin-right: 100px;
	visibility: hidden;
}


ul {

	list-style-type: none;
}

li {
	margin: 0 auto;
	display: inline-block;
	margin-left: 100px;
	margin-bottom: 80px;

}

.labels1 {
	margin-left: 100px;
}


.labels2 {
	margin-left: 87px;
}

.labels3 {
	margin-left: 95px;
}

.labels4 {
	margin-left: 75px;
}

.blocks {
	margin-top: 10px;
	display: none;
	position: absolute;
}

#id1 label {
	margin-right: 65px;
}

#id2 label {
	margin-right: 45px;
}

#id3 label {
	margin-right: 45px;
}

#id3 input[name="width"]{
	margin-left: 5px;
}

#id3 input[name="length"]{
	margin-left: -2px;
}






.footer{

	margin: 0 2%;
	margin-left: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: solid black 5px;
	text-align: center;
}

.addfooter{
	position: absolute;
	bottom: 0;
	width: 62%;
	margin: 0 auto;
	margin-left: 16%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: solid black 5px;
	text-align: center;
}



